In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, StandardScaler, RobustScaler, normalize
import matplotlib.pyplot as plt

In [12]:
sales_data = pd.read_csv("C:/Users/Gurinder/Desktop/Brainy Tasks/100_Sales.csv")

In [13]:
sales_data.head()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit,Unnamed: 9,Unnamed: 10
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,27/06/2010,159.42,2533654.00,951410.50,NaN,NaN
1,Central America and the Caribbean,Grenada,Cereal,Online,C,15/09/2012,117.11,576782.80,248406.36,NaN,NaN
2,Europe,Russia,Office Supplies,Offline,L,05/08/2014,524.96,1158502.59,224598.75,NaN,NaN
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,07/05/2014,6.92,75591.66,19525.82,NaN,NaN
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,02/06/2013,524.96,3296425.02,639077.50,NaN,NaN

In [24]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, RobustScaler, normalize

Normalization completed! Normalized dataset saved to C:/Users/Gurinder/Desktop/Brainy Tasks/Normalized_100_Sales.csv.

In [35]:
# Load the dataset
sales_data = pd.read_csv("C:/Users/Gurinder/Desktop/Brainy Tasks/100_Sales.csv")

In [36]:
sales_data.head()

,Region,Country,Item_Type,Sales_Channel,Order_Priority,Ship_Date,Unit_Cost,Total_Revenue,Total_Profit,Unnamed: 9,Unnamed: 10
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,27/06/2010,159.42,2533654.00,951410.50,NaN,NaN
1,Central America and the Caribbean,Grenada,Cereal,Online,C,15/09/2012,117.11,576782.80,248406.36,NaN,NaN
2,Europe,Russia,Office Supplies,Offline,L,05/08/2014,524.96,1158502.59,224598.75,NaN,NaN
3,Sub_Saharan Africa,Sao Tome and Principe,Fruits,Online,C,07/05/2014,6.92,75591.66,19525.82,NaN,NaN
4,Sub_Saharan Africa,Rwanda,Office Supplies,Offline,L,02/06/2013,524.96,3296425.02,639077.50,NaN,NaN

In [37]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item_Type       100 non-null    object
 3   Sales_Channel   100 non-null    object
 4   Order_Priority  100 non-null    object
 5   Ship_Date       100 non-null    object
 6   Unit_Cost       100 non-null    float64
 7   Total_Revenue   100 non-null    float64
 8   Total_Profit    100 non-null    float64
 9   Unnamed: 9      0 non-null      float64
 10  Unnamed: 10     0 non-null      float64
dtypes: float64(5), object(6)
memory usage: 8.7+ KB

In [38]:
sales_data.isnull().sum()

Region              0
Country             0
Item_Type           0
Sales_Channel       0
Order_Priority      0
Ship_Date           0
Unit_Cost           0
Total_Revenue       0
Total_Profit        0
Unnamed: 9        100
Unnamed: 10       100
dtype: int64

In [26]:
# Selecting only numerical columns for normalization
numerical_columns = sales_data.select_dtypes(include=['float64', 'int64']).columns
numerical_data = sales_data[numerical_columns]

In [27]:
# Handle missing values
numerical_data = numerical_data.dropna(axis=1, how='all')  # Drop columns with all NaN values
numerical_data = numerical_data.fillna(numerical_data.median())  # Replace remaining NaN with column median

In [28]:
# 1. Min-Max Scaling
min_max_scaler = MinMaxScaler()
min_max_scaled = pd.DataFrame(min_max_scaler.fit_transform(numerical_data), columns=numerical_data.columns)
min_max_scaled.columns = [f"{col}_minmax" for col in min_max_scaled.columns]

In [29]:
# 2. Max Abs Scaling
max_abs_scaler = MaxAbsScaler()
max_abs_scaled = pd.DataFrame(max_abs_scaler.fit_transform(numerical_data), columns=numerical_data.columns)
max_abs_scaled.columns = [f"{col}_maxabs" for col in max_abs_scaled.columns]

In [30]:
# 3. Robust Scaling
robust_scaler = RobustScaler()
robust_scaled = pd.DataFrame(robust_scaler.fit_transform(numerical_data), columns=numerical_data.columns)
robust_scaled.columns = [f"{col}_robust" for col in robust_scaled.columns]

In [31]:
# 4. L2 Normalization
l2_normalized = pd.DataFrame(normalize(numerical_data, norm='l2'), columns=numerical_data.columns)
l2_normalized.columns = [f"{col}_l2" for col in l2_normalized.columns]

In [32]:
# 5. Log Transformation (log1p for handling zero values)
log_transformed = pd.DataFrame(np.log1p(numerical_data), columns=numerical_data.columns)
log_transformed.columns = [f"{col}_log" for col in log_transformed.columns]

In [33]:
# Combine all normalizations into one dataframe
normalized_data = pd.concat([sales_data, min_max_scaled, max_abs_scaled, robust_scaled, l2_normalized, log_transformed], axis=1)

In [39]:
# Save the normalized dataset
output_file = "C:/Users/Gurinder/Desktop/Brainy Tasks/Normalized_100_Sales.csv"
normalized_data.to_csv(output_file, index=False)

print("Preview of the Normalized Data:")
print(normalized_data.head())

Preview of the Normalized Data:
                              Region                Country        Item_Type  \
0              Australia and Oceania                 Tuvalu        Baby Food
1  Central America and the Caribbean                Grenada           Cereal
2                             Europe                 Russia  Office Supplies
3                 Sub_Saharan Africa  Sao Tome and Principe           Fruits
4                 Sub_Saharan Africa                 Rwanda  Office Supplies

  Sales_Channel Order_Priority   Ship_Date  Unit_Cost  Total_Revenue  \
0       Offline              H  27/06/2010     159.42     2533654.00
1        Online              C  15/09/2012     117.11      576782.80
2       Offline              L  05/08/2014     524.96     1158502.59
3        Online              C  07/05/2014       6.92       75591.66
4       Offline              L  02/06/2013     524.96     3296425.02

   Total_Profit  Unnamed: 9  ...  Total_Profit_maxabs  Unit_Cost_robust  \
0     951410.50         NaN  ...             0.553171          0.229219
1     248406.36         NaN  ...             0.144429          0.043233
2     224598.75         NaN  ...             0.130587          1.836059
3      19525.82         NaN  ...             0.011353         -0.441140
4     639077.50         NaN  ...             0.371574          1.836059

   Total_Revenue_robust  Total_Profit_robust  Unit_Cost_l2  Total_Revenue_l2  \
0              0.916646             1.284334      0.000059          0.936172
1             -0.090325            -0.082354      0.000186          0.918444
2              0.209017            -0.128638      0.000445          0.981721
3             -0.348230            -0.527313      0.000089          0.968221
4              1.309154             0.677137      0.000156          0.981721

   Total_Profit_l2  Unit_Cost_log  Total_Revenue_log  Total_Profit_log
0         0.351541       5.077795          14.745173         13.765702
1         0.395551       4.771616          13.265223         12.422825
2         0.190326       6.265225          13.962640         12.322075
3         0.250098       2.069391          11.233114          9.879544
4         0.190326       6.265225          15.008349         13.367783

[5 rows x 26 columns]
Normalization completed! Normalized dataset saved to C:/Users/Gurinder/Desktop/Brainy Tasks/Normalized_100_Sales.csv.

In [40]:
print(f"Normalization completed! Normalized dataset saved to {output_file}.")

Normalization completed! Normalized dataset saved to C:/Users/Gurinder/Desktop/Brainy Tasks/Normalized_100_Sales.csv.